html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main, nav, footer {
	font-family: "Quicksand", "Arial", sans-serif;
}

nav img {
  width: 10vmin;
}

.pointer {  
  cursor: pointer;
}

a {
  color: rgb(207, 207, 207);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

.btn {
  opacity: 70%;
  border-radius: 5px;
  width: 100px;
}

.btn:hover {
  opacity: 0.8;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.8),
    3px 4px 10px rgba(0, 0, 0, 0.2);
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

footer {
  background-color: #302121;
  color: rgb(223, 223, 223);
}

.badge:hover {
    opacity: 0.8;
}

.bg-secondary-100 {
  background-color: rgba(204, 204, 204, 0.5) !important;
}
